.label {
  display: block;
  font-size: 0;
  transform: rotate(90deg);

  &::before {
    font-size: 22px;
    color: var(--light-gray);
    content: "❯";
  }
}

.action {
  display: none;
  text-align: center;

  &:checked + .label::before {
    color: var(--dark-gray);
  }
}
