.text-input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 24px;
  font-weight: inherit;
  line-height: 34px;

  &:hover,
  &:focus {
    outline: 2px solid rgb(175 47 47 / 0.15);
  }

  &::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: var(--light-gray);
  }

  &::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: var(--light-gray);
  }

  &_theme_default {
    padding: 14px 16px;
    margin-bottom: 1px;
    border: 1px solid var(--dark-gray-100);
  }

  &_theme_flat {
    padding: 15px 15px 15px 60px;
    border: none;
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 0.03);
  }
}
