.form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  & + .action {
    margin-top: 12px;
  }
}

.label {
  margin-bottom: 4px;
}
