.todos-list {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  position: relative;
}

.toggle-action {
  position: absolute;
  top: 20px;
  left: 15px;
}

.create-action {
  display: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  font-size: 24px;
  line-height: 34px;
  transition: color 0.4s;
}

.note {
  position: relative;

  &_completed {
    .label {
      color: #d9d9d9;
      text-decoration: line-through;
    }
  }
}

.text-input {
  display: none;
  width: 506px;
  margin: 0 0 0 43px;
}

.delete-control {
  font-size: 0;
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #cc9a9a;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  transition: color 0.2s ease-out;

  &:hover {
    color: #af5b5e;
  }

  &:focus {
    outline: 2px solid rgb(175 47 47 / 15%);
  }

  &::after {
    content: '×';
    font-size: 30px;
  }
}

.list-item {
  font-size: 24px;
  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: none;
  }

  &_editable {
    border-bottom-color: transparent;
    padding: 0;

    .text-input {
      display: block;
    }

    .note {
      display: none;
    }
  }

  &:hover {
    .delete-control {
      display: block;
    }
  }
}

.checkbox {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  opacity: 0;

  &:checked + .label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  }
}
