.todos-list {
  position: relative;
  background: var(--white);
  box-shadow: 0 2px 4px 0 var(--gray), 0 25px 50px 0 var(--light-gray);
}

.toggle-action {
  position: absolute;
  top: 20px;
  left: 15px;
}

.create-action {
  display: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.label {
  display: block;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  line-height: 34px;
  word-break: break-all;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
  transition: color 0.4s;
}

.note {
  position: relative;

  &_completed {
    .label {
      color: var(--light-gray);
      text-decoration: line-through;
    }
  }

  &_type_skeleton {
    & .label {
      &::before {
        display: block;
        width: 170px;
        height: 34px;
        content: "";
        background: var(--light-gray);
      }

      background-color: var(--white);
    }
  }
}

.text-input {
  display: none;
  width: 506px;
  margin: 0 0 0 43px;
}

.delete-control {
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: 0;
  display: none;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 40px;
  color: var(--accent-100);
  background: transparent;
  border: none;
  transition: color 0.2s ease-out;
  transform: translateY(-50%);

  &:hover {
    color: var(--accent);
  }

  &:focus {
    outline: 2px solid var(--accent-200);
  }

  &::after {
    font-size: 30px;
    content: "×";
  }
}

.list-item {
  font-size: 24px;
  border-bottom: 1px solid var(--light-gray);

  &:last-child {
    border-bottom: none;
  }

  &_editable {
    padding: 0;
    border-bottom-color: transparent;

    .text-input {
      display: block;
    }

    .note {
      display: none;
    }
  }

  &:hover {
    .delete-control {
      display: block;
    }
  }
}

.checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: auto;
  margin: auto 0;
  text-align: center;
  border: none;
  opacity: 0;

  &:checked + .label {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
  }
}
